@model DataLayer.Models.Application
@{
    ViewBag.Title = "درباره ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Metas{
    <meta name="description" content="فروشگاه اینترنتی موتورتو فعال در زمینه فروش انواع قطعات مصرفی خودرو شامل فیلتر روغن ، فیلتر هوا ، فیلتر بنزین ، فیلتر کابین ، روغن موتور و روانکار و غیره است .">
    <meta name="Keywords" content="قطعات مصرفی خودرو">
    <meta property="og:title" content="موتورتو ، فروش آنلاین قطعات خودرو | Motoreto" />
    <meta property="og:url" content="http://www.motoreto.ir/" />
    <meta property="og:image" content="http://www.motoreto.ir/images/sadr_logo.png" />
    <meta name="twitter:image" content="موتورتو ، فروش آنلاین قطعات خودرو | Motoreto">
}

@section Styles{
    <style>
        ul, h2, h3 {
            direction: rtl;
            line-height: 30px;
        }
    </style>
}

<br />
<div class="container blog_header">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1>درباره ما</h1>
            </div>
        </div>
    </div>
</div>

<!--second :: explain-->
<div class="DEfinitionAboutUs" id="about">
    <div class="container">
        <div class="col-md-12 col-xs-12 pull-right">
            @if (Model != null)
            {
                if (Model.AboutUs != null)
                {
                    @Html.Raw(Model.AboutUs)
                }
                else
                {
                    <p>درباره موتورتو</p>
                }
            }
            else
            {
                <p>درباره موتورتو</p>
            }
        </div>
    </div>
</div>

<div class="promo-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 wow bounceInRight pull-right">
                <div class="single-promo promo1">
                    <div class="tooltip">
                        <img src="~/images/14.jpg" alt="موتورتو" title="موتورتو">
                        <p style="padding-top:57px !important;">نیازی نیست از خونه بیرون بری</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 wow bounceInRight pull-right" data-wow-delay="0.5s">
                <div class="single-promo promo3">
                    <br>
                    <div class="tooltip">
                        <img src="~/images/15.jpg" alt="موتورتو" title="موتورتو">
                        <p>استراحت میکنی یا کار ، اپلیکیشن رو بردار</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 wow bounceInRight pull-right" data-wow-delay="1s">
                <div class="single-promo promo2">
                    <div class="tooltip">
                        <img src="~/images/13.gif" alt="موتورتو" title="موتورتو">
                        <p style="padding-top:47px !important;">سفارش بده و منتظر ارسال باش</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End promo area -->
<br />

<section class="bottom-count text-center why mockup whym">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 right-img-w3ls pl-lg-4 mt-lg-2">
                <div class="bott-w3ls mr-xl-5">
                    <h3 class="title-w3 text-bl mb-3 font-weight-bold">موتورتو را دانـلود کنید</h3>
                    <p style="text-align:justify !important;">
                        موتورتو ، سامانه جامع و تخصصی فعال در زمینه فروش قطعات مصرفی خودرو<br />
                        محصولات متنوع ، سهولت استفاده و اصالت کالا سه عامل تاثیرگذار در فروش بالای محصولات موتورتو و استفاده از اپلیکیشن فروشگاهی موتورتو است .<br />
                    </p><br>
                    <div class="don">
                        <a href="#">
                            <img src="/images/bazaar-outline-new.png" width="150" alt="موتورتو" title="موتورتو">
                        </a>
                        <a href="#">
                            <img src="/images/googleplay-outline-new.png" width="150" alt="موتورتو" title="موتورتو">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 left-img-w3ls wow bounceIn">
                <img src="/images/Tashrifatnurses_mockup.png" title="موتورتو" alt="موتورتو" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="hovereffect">
                <img class="img-responsive" src="~/images/new1.jpg" alt="موتورتو" title="موتورتو">
                <div class="overlay">
                    <h2>محصولات متنوع</h2>
                    <a class="info" href="/aboutus">بیشتر</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="hovereffect">
                <img class="img-responsive" src="~/images/new2.jpg" alt="موتورتو" title="موتورتو">
                <div class="overlay">
                    <h2>خدمات درجه 1</h2>
                    <a class="info" href="/aboutus">بیشتر</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
