@model DataLayer.Models.Application
@{
    ViewBag.Title = "خدمات مشتریان";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Metas{
    <meta name="description" content="موتورتو تولید کننده و صادر کننده انواع خرما مرغوب ایرانی است . خرمای مضافتی ، و خرمای عسلی از بهترین محصولات موتورتو است .">
    <meta name="keywords" content="موتورتو , رومانتا , romanta , datepalm , خرمای ایرانی , خرما مضافتي">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="http://gladcherry.com">
    <meta name="Designer" content="Design, Develope by, GladCherry, Co. Email : info@gladcherry.com">
    <meta name="copyright" content="http://gladcherry.com, 2017 - software company">
    <meta name="expires" content="never">
    <meta name="rating" content="Safe For Kids">
    <meta name="og:site_name" content="موتورتو" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="fa_IR">
    <meta property="og:url" content="http://romanta.ir/" />
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="googlebot" content="index">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="موتورتو | برترین خرمای ایرانی">
    <meta name="twitter:title" content="موتورتو | برترین خرمای ایرانی">
    <meta name="twitter:domain" content="موتورتو | برترین خرمای ایرانی">
}

@section Styles{
}

<div class="container blog_header">
    <div class="row">
        <div class="col-md-12">
            <div class="text-right">
                <h1">خدمات مشتریان</h1">
            </div>
        </div>
    </div>
</div>

<!--second :: explain-->
<div class="DEfinitionAboutUs" id="Costomers">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 pull-right">
                <div class="col-md-2 col-xs-12 pull-right text-center">
                    <img src="~/images/exchange.png" />
                </div>
                <div class="col-md-10 pull-right">
                    <h4>تعویض سفارش</h4>
                    <p>مهم ترین هدف ما در موتورتو، جلب رضایت مشتریان گرامی و دیدن لبخند رضایت بر روی لبان شماست، در همین راستا، موتورتو تضمین می نماید که اگر به دلایل منطقی سفارش مورد قبول شما واقع نشد، در وهله اول نسبت به تعویض و تولید مجدد سفارش اقدام نماید.</p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 pull-right">
                <div class="col-md-2 col-xs-12 pull-right text-center">
                    <img src="~/images/audit.png" />
                </div>
                <div class="col-md-10 pull-right">
                    <h4>شرایط تعویض سفارش</h4>
                    <p>اگر مشخصات ظاهری بسته ارسالی با طرح اولیه تایید شده توسط شما متفاوت باشد، سفارش مجددا تولید شده و برای شما ارسال می گردد. (در این حالت تمامی هزینه های ارسال و باربری به عهده موتورتو می باشد).</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 pull-right">
                <div class="col-md-2 col-xs-12 pull-right text-center">
                    <img src="~/images/gift (1).png" />
                </div>
                <div class="col-md-10 pull-right">
                    <h4>امکان ارسال هدیه</h4>
                    <p>موتورتو امکان ارسال کالا به عنوان هدیه به دوستان و عزیزان شما را از طریق وب سایت، فراهم آورده است. شما می توانید کالای خریداری شده را با مشخص نمودن آدرس مقصد، روش ارسال و درج متن دلخواه خود بر روی هدیه برای دوستان و عزیزان خود ارسال و آنها را در مناسبت های مختلف شاد کنید.</p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 pull-right">
                <div class="col-md-2 col-xs-12 pull-right text-center">
                    <img src="~/images/undo-button.png" />
                </div>
                <div class="col-md-10 pull-right">
                    <h4>رویه های بازگرداندن کالا</h4>
                    <p>آسودگی خاطر و رضایت مندی مشتریان همواره از اولویت‏ های موتورتو بوده است و موتورتو در این راستا می‏‌کوشد تا هر سفارش در شرایط مطلوب و مورد انتظار به دست مشتری برسد، با وجود این ممکن است مشتریان محترم پس از خرید، با مسایلی روبرو شوند که در چنین مواردی موتورتو خدماتی را در چارچوب خدمات پس از فروش در نظر گرفته است که به شرح زیر هستند:</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 pull-right">
                <div class="col-md-2 col-xs-12 pull-right text-center">
                    <img src="~/images/problem.png" />
                </div>
                <div class="col-md-10 pull-right">
                    <h4>اشکال در کالای خریداری شده</h4>
                    <p>در صورتی که سفارش دریافتی هر گونه ایراد و اشکالی داشته باشد، اعم از ایراد در تولید، بسته بندی، جعبه و … ، سفارش شما بدون هیچ قید و شرطی توسط موتورتو مسترد شده و در اسرع وقت نسبت به تولید و ارسال مجدد سفارش اقدام خواهد شد.</p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 pull-right">
                <div class="col-md-2 col-xs-12 pull-right text-center">
                    <img src="~/images/cancel.png" />
                </div>
                <div class="col-md-10 pull-right">
                    <h4>انصراف از خرید</h4>
                    <p>در صورتی که انصراف مشتری از خرید، پیش از تولید کالا باشد باید هر چه سریع تر انصراف خود را به واحد فروش موتورتو اطلاع دهد. در این حالت امکان استرداد وجه و یا تغییر سفارش وجود دارد.
جهت هماهنگی باید از طریق شماره تلفن 02155002006 و یا ارسال ایمیل از طریق قسمت تماس با ما – در وب سایت – به واحد فروش موتورتو  اطلاع داده شـود.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 pull-right">
                <div class="col-md-2 col-xs-12 pull-right text-center">
                    <img src="~/images/password.png" />
                </div>
                <div class="col-md-10 pull-right">
                    <h4>مغایرت کالای خریداری شده با اطلاعات سایت</h4>
                    <p>در شرایطی که در مشخصات کالای دریافت شده با سفارش ثبت شده، اختلاف وجود داشته باشد، یا در صورت مغایرت مشخصات کالای دریافت شده با اطلاعات درج شده در سایت یا با سفارشی که در پروفایل مشتری ثبت شده است، به نکته های زیر دقت بفرمایید:
در چنین مواردی امکان تعویض یا استرداد کالا در صورتی وجود دارد که مغایرت ظاهری و فیزیکی مانند رنگ جعبه و طرح بسته بندی که بدون استفاده از کالا قابل مشاهده است، حداکثر طی ۴۸ ساعت کاری پس از دریافت کالا، به واحد خدمات پس از فروش موتورتو اطلاع داده شود و همچنین کالا در شرایط اولیه خود باشد و از آن استفاده نشده باشد.
جهت هماهنگی از طریق شماره تلفن 02155002006 و یا  از طریق ارسال ایمیل به خدمات پس از فروش موتورتو اطلاع داده شود.
توجه: هزینه های ارسال کالا در صورت تأیید ایراد یا وجود مغایرت با اطلاعات درج شده در سایت، به عهده موتورتو است.</p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 pull-right">
                <div class="col-md-2 col-xs-12 pull-right text-center">
                    <img src="~/images/damage.png" />
                </div>
                <div class="col-md-10 pull-right">
                    <h4>آسیب های فیزیکی ناشی از حمل و نقل</h4>
                    <p>
                        با توجه به بسته بندی ایمن و استاندارد همه مرسولات، تحویل به هر یک از شرکت های حمل و نقل معتبر به انتخاب کاربر به این معنی است که بروز هر گونه حادثه در هنگام حمل و تحویل به عهده شرکت حمل و نقل است و موتورتو تنها در صورت تأیید شرکت حمل کننده سفارش و در راستای تسهیل امور پیگیری، خسارت را جبران می کند.
                        آسیب های ناشی از حمل و نقل باید در عرض ۴۸ ساعت پس از تحویل سفارش به خدمات پس از فروش موتورتو اطلاع داده شود.
                        در صورتی که آسیب های ناشی از حمل و نقل در لحظه قابل مشاهده است و یا بسته بندی کالا در زمان حمل دچار آسیب شده است، شما می توانید از تحویل گرفتن مرسوله خودداری نمایید تا جهت بررسی و ارسال مجدد به موتورتو عودت شود.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
