@model DataLayer.Models.Application
@{
    ViewBag.Title = "سوالات متداول";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Metas{
<meta name="description" content="فروشگاه اینترنتی موتورتو فعال در زمینه فروش انواع قطعات مصرفی خودرو شامل فیلتر روغن ، فیلتر هوا ، فیلتر بنزین ، فیلتر کابین ، روغن موتور و روانکار و غیره است .">
<meta name="Keywords" content="قطعات مصرفی خودرو">
<meta property="og:title" content="موتورتو ، فروش آنلاین قطعات خودرو | Motoreto" />
<meta property="og:url" content="http://www.motoreto.ir/" />
<meta property="og:image" content="http://www.motoreto.ir/images/sadr_logo.png" />
<meta name="twitter:image" content="موتورتو ، فروش آنلاین قطعات خودرو | Motoreto">
}

@section Styles{
}
<br />
<div class="container blog_header">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1>سوالات متداول</h1>
            </div>
        </div>
    </div>
</div>

<div class="container faqs">
    <div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                <h4 class="panel-title">
                    چگونه میتوانم از این سایت خرید کنم ؟
                </h4>
            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <p>
                        با دکمه افزودن به سبد خرید بر روی هر محصول وارد صفحه سبد خرید شده و سفارش خود را تکمیل نمایید .
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                <h4 class="panel-title">
                    مزیت خرید اینترنتی به خرید حضوری چیست؟
                </h4>
            </div>
            <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <p>
                        خرید اینترنتی باعث صرفه جویی در وقت و هزینه مشتری می شود، در این روش خرید، مشتری ضمن دسترسی دقیق و کامل به اطلاعات محصولات و خدمات، می تواند در هر ساعتی از شبانه روز و با مشاوره دوستان و اعضای خانواده، خریدی آرام و مطمئن را تجربه کند و به جهت عدم تحمیل بسیاری از هزینه های فروش به فروشنده، عموما خرید ارزانی را صورت می دهد و باز به جهت نرم افزاری بودن خرید و حفظ سوابق خرید، مزیت های ویژه ای در حین خرید یا در آینده در اختیار مشتری قرار می گیرد که امکان ارائه آن در خریدهای سنتی وجود نخواهد داشت.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                <h4 class="panel-title">
                    آیا خرید از این سایت امن است؟
                </h4>
            </div>
            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <p>
                        برای فراهم کردن امنیت کامل شما، ما هیچ گونه اطلاعاتی که مربوط به حساب بانکی یا شماره کارت شما باشند را ذخیره نمی‌کنیم. سیستم پرداخت توسط وب سایت بانک انجام می‌شود و ایجاد ارتباط با این سایت به شیوه امن می‌باشد، در سایر موارد نیز حداکثر تدابیر لازم برای حفظ امنیت خرید صورت پذیرفته است.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                <h4 class="panel-title">
                    آیا می‌توانم برای شخص دیگری خرید کنم و سفارش به آن شخص تحویل شود؟
                </h4>
            </div>
            <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <p>
                        بله، شما می توانید پس از انتخاب محصول، و افزودن آن به سبد خرید، در مرحله ی « آدرس ارسال صورت حساب» با انتخاب گزینه ی «محصول به آدرسی غیر از محل ارسال صورتحساب ارسال شود»، وارد مرحله ی «اطلاعات ارسال» شده و درخواست دهید محصول خریداری شده به هر آدرسی که مایلید ارسال شود، این قابلیت برای واسطه های فروش نیز می تواند بسیار مفید واقع شود و واسطه ها می توانند محصول را با شرایط دلخواه خود به مشتریان مورد نظرشان فروش کرده و از طریق سایت درخواست ارسال آن به آدرس ایشان را بدهند و حتی می توانید درخواست دهید یادداشت دلخواه دشما بر روی بسته نوشته شده و ارسال شود.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                <h4 class="panel-title">
                    چگونه میتوانم از طریق سایت به شخص دیگری هدیه بفرستم؟
                </h4>
            </div>
            <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <p>پس از انتخاب محصول، افزودن به سبد خرید، و نهایی سازی خرید، در مرحله ی « آدرس ارسال صورت حساب» با انتخاب گزینه ی «محصول به آدرسی غیر از محل ارسال صورتحساب ارسال شود»، وارد مرحله ی «اطلاعات ارسال» می شوید. در این مرحله آدرس شخصی که می خواهید محصول برای او ارسال شود را درج و سپس تیک گزینه «ذخیره در لیست آدرسها» را بزنید و وارد مرحله «روش ارسال» شوید. در این مرحله تیک گزینه «تنظیمات پیام هدیه» را بزنید. بلافاصله تنظیمات پیام هدیه برای شما فعال می شود، با تکمیل ادامه فرآیند خرید طبق روندی که در پیش روی شما باز خواهد شد می توانید درخواست دهید محصولات خریداری شده شما با نوشته مورد نظر شما بر روی بسته، به آدرس یا آدرس های دلخواهتان ارسال شود.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                <h4 class="panel-title">
                    آیا میتوانم چند محصول را به چند آدرس متفاوت ارسال کنم؟
                </h4>
            </div>
            <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <p>
                        بله، این امکان وجود دارد. محصولات مورد علاقه خود را انتخاب و به سبد خرید اضافه کنید. در سبد خرید – زیر گزینه اقدام به پرداخت – روی « پرداخت با چندین آدرس» کلیک کنید. در صفحه باز شده، لیست محصولات خریداری شده همراه با آدرس هایی که قبلا وارد شده اند، قابل مشاهده هستند و شما می توانید درخواست دهید هر محصول به صورت جداگانه به آدرس های دلخواه شما ارسال شود.
                        <br> در صورتی که قصد دارید محصولی را به آدرس جدیدی ارسال نمائید که قبلا وارد نکرده اید، روی گزینه «ثبت یک آدرس جدید» کلیک کرده و در فرم باز شده، اطلاعات آدرس جدیدی را ثبت نمائید.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--/panel-group-->
</div>

