@model List<Domain.Product>

@foreach (var product in Model)
{
    @Html.Partial("_ProductCard", product)
}

@if (ViewBag.HasMore == false)
{
    <div class="end-of-list" style="display:none;"></div>
}

<script>
    function updateCartBadge(count) {
        // هدر (navbar)
        const badgeHeader = $("#shoppingCount");
        badgeHeader.text(count);
        badgeHeader.addClass("update");
        setTimeout(() => badgeHeader.removeClass("update"), 400);

        // موبایل (bottom nav)
        const badgeMobile = $("#shoppingCountMobile");
        badgeMobile.text(count);
        badgeMobile.addClass("update");
        setTimeout(() => badgeMobile.removeClass("update"), 400);
    }
</script>
<script>
    $(document).ready(function () {
        $(".btncard").click(function (e) {
            e.preventDefault();
            var id = $(this).attr("productid");

            $.ajax({
                url: "/Home/AddToShoppingCart",
                data: { Id: id },
                type: "Post",
                dataType: "Json",
                success: function (result) {
                    if (result.Success) {
                        updateCartBadge(result.CountHtml);
                        $("#success-modal").modal("show");
                    }
                },
                error: function () {
                    alert("خطایی رخ داده است !");
                }
            });
        });
    });
</script>

